button.normal-btn {
    border: 1px solid black;
    padding: 8px 16px;
    border-radius: 8px;
    box-shadow: 1px 1px 1px black;
    cursor: pointer;
    background-color: white;
    font-weight: bold;
    color: black;
}

button.normal-btn:hover {
    box-shadow: none;
    scale: 1.05;
}

button.normal-btn:active {
    scale: 0.95;
}

