#root {
  width: 100%;
  /* margin: 0 auto; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.orange {
  background-color: orange;
}

.green {
  background-color: green;
}